<div class="row table-bordered">
    <div class="col-xs-9">
        <h4>Title</h4>
    </div>
    <div class="col-xs-3 text-center">
        <h4>Actions</h4>
    </div>
</div>
<div class="row table-bordered" *ngFor="let question of questions">
    <div class="col-xs-9">
        {{ question.title }}
    </div>
    <div class="col-xs-1">
        <button class="btn btn-primary" (click)="onOptions(question.qid)">Options</button>            
    </div>
    <div class="col-xs-1">
        <button class="btn btn-success">Edit</button>            
    </div>
    <div class="col-xs-1">
        <button class="btn btn-danger">Delete</button>
    </div>
</div>