<div class="row">
  <div class="col-xs-6">
    <h3 class="pull-left">New Question</h3>
  </div>
  <div class="col-xs-3">
    <button class="btn btn-primary pull-right" (click)="onBackSurvey()">Back to Survey</button>
  </div>
  <div class="col-xs-3">
    <button class="btn btn-primary pull-right" (click)="onBackQuestion()">Back to Question</button>
  </div>
</div>
<hr>
<form role="form" (ngSubmit)="onAdd(f)" #f="ngForm">
  <div class="row">
    <div class="col-xs-4">
      <label for="title">Title</label>
    </div>
    <div class="col-xs-8">
      <input type="text" id="title" name="title" class="form-control" placeholder="Question Title" ngModel required #title="ngModel">
      <span class="help-block" *ngIf="!title.valid && title.touched">Please enter title</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
      <button type="submit" class="btn btn-success" [disabled]="!f.valid">Add</button>
      <button type="button" class="btn btn-primary" (click)="onClear(f)">Clear</button>
    </div>
  </div>
</form>
